
        .slideshow-container {
            width: 1000px;
            margin: 0 auto; /* Center the container horizontally */
        }
        .slides {
            height: 350px;
        }
        .slides img {
            width: 100%;
            height: 100%;
        }
    